.wrapper {
    padding: 20px;
    display: flex;
    flex-direction: column;

    .btnBlock {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;

        .btn {
            width: 300px;
        }
    }
}